$font1: 'Roboto Slab', sans-serif;
$font2: 'Raleway';
$spacing-full: 1.5em;
$box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
$box-shadow-inset: 0 8px 6px -6px rgba(0,0,0,0.5) inset;
$icon-border-width: 0.6px;
$color1:#74c7ff;
$color2:#ff8274;
$color3:#9eff74;
$radius:0.125em;



@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin icon-filter{
	filter: drop-shadow(0px 0px 1px black)
		drop-shadow(0px 0px 2px black)
		contrast(1.4)
		saturate(1.25)
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* { box-sizing: Border-box }

html{
  overflow-y:scroll;
}
body{
	background-color:#222;
	color:#ddd;
	text-shadow: 0 0.125em 0.125em rgba(0,0,0,0.5);
}

.color-1{
	color:$color1;
}

.color-2{
	color:$color2;
}

.color-3{
	color:$color3;
}

.color-grey{
	color:#aaa;
}

.top-border-red{
	border-top:0.5em solid $color2;
}

.top-border-green{
	border-top:0.5em solid $color3;
}

.top-border-blue{
	border-top:0.5em solid $color1;
}


.width-control{
	max-width:1400px;
	margin:0 auto;
	font-family: $font1;
}

.auto-complete-results li:hover, .auto-complete-selected{
  background-color: #222;
  color: #fff;
}

.auto-complete-container{
	position:relative;
}

.auto-complete-input{
	width:100%;
	border:none;
	padding:1em;
	background-color:#444;
	border-radius:$radius;
	color:#ccc;
	@include placeholder {
    font-style:italic;
    color: #aaa;
    font-weight:100;
	}
}

.input-invisible{
  background-color:#444;
  border:none;
  color:inherit;
  font-size:inherit;
  width:100%;
  flex-grow:1;
  padding:0.25em;
  margin-right:1em;
  border-radius:2px;
  font-family: "Raleway";
}

.auto-complete-results{
	width:100%;
	position:absolute;
  padding: 0.5em;
  color: #ccc;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: 1px dashed #666;
  background-color: #444;
  font-size: 0.75em;
  z-index:999;
  -webkit-overflow-scrolling: touch;
  max-height: 15em;
overflow-x: hidden;
overflow-y: auto;
  li{
    padding: 0.5em;
    border-radius: 2px;
  }
}

.highlight-section{
	padding:1em;
	background-color:#333;
}

.flex-container{
	display:flex;
	justify-content:space-between;
	align-items:stretch;
}

.main-section{
	/*background-color:white;*/
	padding:$spacing-full;
	/*box-shadow:$box-shadow;*/
	/*background-color:#444;*/

	h2{
		font-size:2em;
	}
}

.body-color-container{
		/*background-color:white;*/
	padding:$spacing-full;
	box-shadow:$box-shadow;
	background-color:#444;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

.space-left{
	margin-left:0.5em
}

.flex-child{
	flex: 1 1 auto;
	width:100%;
}

.flex-child + .flex-child{
	margin-left:$spacing-full;
}

.loadout-container{
	diplay:flex;
	flex-direction:column;
}

.loadout-row{
	display:flex;
	width:100%;
	flex:1 1 auto;
	justify-content:center;
}
.loadout-row + .loadout-row{
	margin-top:0.5em;
}

.loadout-cell{
	width:2.5em;
	height:2.5em;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:0.25em;
	background-color:#666;
	border-radius:$radius;
}

.loadout-cell + .loadout-cell{
	margin-left:1.75em;
}

.loadout-container .loadout-row:nth-child(2) .loadout-cell+.loadout-cell{
	margin-left:0.5em;
}

.tabs{
	display:flex;
	align-items:flex-end;
}

.tab{
  display: inline-block;
  padding: 0.75em;
  border-top-left-radius:$radius;
  border-top-right-radius:$radius;
  font-size: 0.75em;
  cursor:pointer;
  &.tab-selected{
  	background-color:#333;
  	cursor: initial;
  	.attacker-tab-icon{
  		opacity:1;
  	}
  }

	&:hover{
	  	.attacker-tab-icon{
	  		opacity:1;
	  	}
	}

  img{
  	max-height:1.5em;
  }
}

.attacker-tab-icon{
	@include icon-filter;
	max-width:100%;
	max-height:100%;
	height: auto;
	width:auto;
	cursor:pointer;
	opacity:0.5;
}

.tab + .tab{
	margin-left:0.5em
}

.item-icon{
	@include icon-filter;
	max-width:100%;
	max-height:100%;
	height: auto;
	width:auto;
	cursor:pointer;


	&:hover{
		opacity:0.5;
	}
}





.flex-container-vertical{
	flex-direction:column;
}

.flex-container-vertical>*+*{
	margin-top:$spacing-full;
}

.flex-valign{
	align-items:center;
	display:flex;
}

.center{
	text-align: center;
}

.bonus-table{
	width:100%;
	border:1px solid #555;
	td{
		padding:0.5em;
	}
	td:nth-child(1){
		font-family: $font1;
		/*padding-left:1em;*/
	}
	td:nth-child(2){
		text-align:right;
		font-family: $font2;
		font-weight:300;
		// color:$color3;
	}
	tr:not(:last-of-type){
		td{
			border-bottom:1px dashed #555;
		}
	}
}

.monster-image{
	@include icon-filter;
	max-height:10em;
}

.stats-table{
	width:100%;
  font-family:'Raleway';
  border-collapse:separate;
  border-spacing:0.5em;
	td{
		// padding-top:0.5em;
    width:50%;
	}
}

.stat-wrap{
  display:flex;
  align-items:center;
  &.center{
    justify-content: center;
  }
  img{
    margin-right:0.25em;
  }
}

.dps{
	h3{
		color:$color1;
		margin-bottom:0.5em
	}

	hr{
		border-width:0px 0px 1px 0px;
		border-color:rgba(0,0,0,0.2);
		border-style:solid;
		margin:1em 0 0 0;
	}
}

.auto-complete-results.input-hidden-hack{
	top:-9999px;
	left:-9999px;
}

.hidden{
	visibility:hidden;
}

#page-header{
  padding: 0.5em;
  font-size: 3em;
  font-family:$font2;
  background-color:#333;
  border-bottom: 10px solid $color3;
  color:white;
}


.bonus-table + h3{
	margin-top:1em;
}

.versions-holder{
	display:flex;
	flex-wrap:wrap;
}

.monsterVersion{
	@include no-select;
	font-size:0.8em;
	display:inline-block;
	padding:0.25em;
	margin:0.25em;
	cursor:pointer;
	&:hover{
		background-color:#444;
	}

}

.monsterVersionSelected{
	background-color:#444;
}

.combat-style{
	font-size:0.8em;
	padding:0.25em;
	margin-right:0.5em;
	cursor:pointer;
	&:hover, &.combat-style-selected{
		background-color:#666;
	}
}


.combat-styles-holder{
	display:flex;
	margin-top:0.5em;
}