$font1: 'Roboto Slab',
sans-serif;
$font2: Consolas,
monospace;
$spacing-full: 1.5em;
$box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
$box-shadow-inset: 0 8px 6px -6px rgba(0, 0, 0, 0.5) inset;
$icon-border-width: 0.6px;
//blue
$color1:#74c7ff;
//red
$color2:#ff8274;
//green
$color3:#9eff74;
$radius:0.125em;



@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }

    :-moz-placeholder {
        @content
    }

    ::-moz-placeholder {
        @content
    }

    :-ms-input-placeholder {
        @content
    }
}

@mixin icon-filter {
    filter: drop-shadow(1px 1px 1px #444) drop-shadow(-1px -1px 1px #777) contrast(1.4) saturate(1.25)
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

* {
    box-sizing: Border-box
}

html {
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #222;
    color: #ddd;
    // text-shadow: 0 0.125em 0.125em rgba(0,0,0,0.5);
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input !important;
}

.color-1 {
    color: $color1;
}

.color-2 {
    color: $color2;
}

.color-3 {
    color: $color3;
}

.mono-font {
    font-family: $font2;
}

.color-grey {
    color: #aaa;
}

.top-border-red {
    border-top: 0.5em solid $color2;
}

.top-border-green {
    border-top: 0.5em solid $color3;
}

.top-border-blue {
    border-top: 0.5em solid $color1;
}


.loading-spinner {
    position: absolute;
    right: 1em;
    top: 50%;
    margin-top: -0.5em;
    animation: spin 2s linear infinite;
    height:1em;
    svg {
        height:1em;
    }
}

//recharts stuff
.recharts-layer {

    &.xAxis,
    &.yAxis {
        font-family: $font2;
        color: #eee;
    }
}

.recharts-label tspan {
    color: #eee;
}

.recharts-surface {
    transition: height 0.1s;
}

.recharts-default-tooltip {
    background-color: #444 !important; //Due to a bug with recharts I have to use !important specificity
    border: none !important;
}

.recharts-tooltip-item-value {
    color: #eee;
    font-family: $font2;
}

.recharts-legend-item-text {
    font-size: 1.25em;
}

.recharts-legend-wrapper {
    // background-color:#444;
    padding: 0.5em;
}

.yAxis-label {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    top: 60%;
}

//end recharts


.sub-text {
    font-size: 0.75em;
    color: #aaa;
}

.width-control {
    max-width: 1400px;
    margin: 0 auto;
    font-family: $font1;
}

.auto-complete-selected {
    background-color: #222;
    color: #fff;
}

.auto-complete-container {
    position: relative;
}

.escape-notif {
    position: absolute;
    right: 1em;
    top: 50%;
    margin-top: -0.5em;
    font-size: 0.75em;
    line-height: 1em;
    color: #999;
}

.st0{fill:#74C7FF;stroke:#EEEEEE;stroke-width:10;stroke-miterlimit:10;}

.auto-complete-input {
    width: 100%;
    border: none;
    padding: 1em;
    background-color: #444;
    border-radius: $radius;
    color: #ccc;

    @include placeholder {
        font-style: italic;
        color: #aaa;
        font-weight: 100;
    }
}

.input-invisible {
    background-color: #555;
    border: none;
    color: inherit;
    font-size: inherit;
    width: 100%;
    flex-grow: 1;
    padding: 0.25em;
    // margin-right:1em;
    border-radius: 2px;
    font-family: $font2;
    min-width: 0;

    &.disabled {
        background-color: #444;
        color: #888;
    }
}

.slider{
    width:100%;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height:0.5em;
    background: #222;
    outline: none; /* Remove outline */
    // opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius:0.25em;
    cursor:pointer;
    &:hover{
        opacity: 1; /* Fully shown on mouse-over */
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 1em; /* Set a specific slider handle width */
        height: 1em; /* Slider handle height */
        background: $color1; /* Green background */
        border:1px solid #222;
        cursor: pointer; /* Cursor on hover */
        border-radius:0.5em;
      }

    &::-moz-range-thumb {
        width: 1em; /* Set a specific slider handle width */
        height: 1em; /* Slider handle height */
        background: $color1; /* Green background */
        border:1px solid #222;
        cursor: pointer; /* Cursor on hover */
        border-radius:0.5em;
      }
}

.border-bottom-dashed {
    border-bottom: 1px dashed #888
}

.auto-complete-results {
    width: 100%;
    position: absolute;
    padding: 0.5em;
    color: #ccc;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 1px dashed #666;
    background-color: #444;
    font-size: 0.75em;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
    max-height: 15em;
    overflow-x: hidden;
    overflow-y: auto;

    li {
        padding: 0.5em;
        border-radius: 2px;
    }
}

.highlight-section {
    padding: 1em;
    background-color: #333;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.main-section {
    /*background-color:white;*/
    padding: $spacing-full;
    /*box-shadow:$box-shadow;*/
    /*background-color:#444;*/

    h2 {
        font-size: 2em;
    }
}

.body-color-container {
    /*background-color:white;*/
    padding: $spacing-full;
    box-shadow: $box-shadow;
    background-color: #444;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

.single-line {
    overflow: hidden;
    white-space: nowrap;
    clear: both;
}

.space-left {
    margin-left: 0.5em
}

.flex-child {
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
}

.flex-child+.flex-child {
    margin-left: $spacing-full;
}

.loadout-container {
    diplay: flex;
    flex-direction: column;
}

.loadout-row {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    justify-content: center;
}

.loadout-row+.loadout-row {
    margin-top: 0.5em;
}

.loadout-cell {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    background-color: #666;
    border-radius: $radius;
}

.loadout-cell+.loadout-cell {
    margin-left: 1.75em;
}

.loadout-container .loadout-row:nth-child(2) .loadout-cell+.loadout-cell {
    margin-left: 0.5em;
}

.tabs {
    display: flex;
    align-items: flex-end;
}

.tab {
    display: inline-block;
    padding: 0.75em;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    font-size: 0.75em;
    cursor: pointer;

    &.tab-selected,
    &:hover {
        background-color: #333;
    }

    img {
        height: 1.75em;
    }

    cursor:pointer;

    user-select:none;
}

.large-icon {
    height: 0.75em;
}


label {
    user-select: none;
    cursor: pointer;
}

.attacker-tab-icon {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    cursor: pointer;
}

.tab+.tab {
    margin-left: 0.5em
}

.item-icon {
    @include icon-filter;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    cursor: pointer;
}

button {
    border: 1px solid #222;
    margin: 0.125em;
    padding: 0.5em;
    font-family: 'Roboto Slab';
    color: #74c7ff;
    font-size: 0.75em;
    border-radius: 0.25em;
    cursor: pointer;
    background-color: #222;

    &.selected {
        border-color: #aaa;
        color: #eee;
        text-decoration: underline;
    }

    &.seamless {
        background-color: transparent;
        border-color: transparent;
    }

    &:hover {
        text-decoration: underline;
    }
}



.flex-container-vertical {
    flex-direction: column;
}

.flex-container-vertical>*+* {
    margin-top: $spacing-full;
}

.flex-valign {
    align-items: center;
    display: flex;
}

.center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.bonus-table {
    width: 100%;
    border: 1px solid #555;

    td {
        padding: 0.5em;
    }

    td:nth-child(1) {
        font-family: $font1;
        /*padding-left:1em;*/
    }

    td:nth-child(2) {
        text-align: right;
        font-family: $font2;
        font-weight: 300;
        // color:$color3;
    }

    tr:not(:last-of-type) {
        td {
            border-bottom: 1px dashed #555;
        }
    }
}

.monster-image {
    @include icon-filter;
    max-height: 10em;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    max-height: 15em;
}


.info-badge-holder {
    margin-top: -0.25em;

    .info-badge {
        background-color: #444;
        color: #eee;
        padding: 0.5em;
        border-radius: 0.25em;
        margin: 0.125em;
        display: inline-block;
        font-size: 0.75em;
        border: 1px solid #aaa;
    }

}

.stats-table {
    width: 100%;
    font-family: $font2;
    border-collapse: separate;
    border-spacing: 0.5em;

    td {
        // padding-top:0.5em;
        width: 50%;
    }
}

.stat-wrap {
    display: flex;
    align-items: center;
    font-family: $font2;

    &.center {
        justify-content: center;
    }

    img {
        margin-right: 0.25em;
        max-height: 1em;
    }
}

.dps {
    h3 {
        color: $color1;
        margin-bottom: 0.5em
    }

    hr {
        border-width: 0px 0px 1px 0px;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        margin: 1em 0 0 0;
    }
}

.auto-complete-results.input-hidden-hack {
    // top:-9999px;
    left: -9999px;
}

.hidden {
    visibility: hidden;
}

#page-header {
    padding: 0.5em;
    font-size: 4em;
    font-family: $font2;
    background-color: #333;
    border-bottom: 10px solid $color3;
    color: white;
}


.bonus-table+h3 {
    margin-top: 1em;
}

.versions-holder {
    display: flex;
    flex-wrap: wrap;
}

.monsterVersion {
    @include no-select;
    font-size: 0.8em;
    display: inline-block;
    padding: 0.25em;
    margin: 0.25em;
    cursor: pointer;

    &:hover {
        background-color: #444;
    }

}

.monsterVersionSelected {
    background-color: #444;
}

.combat-style {
    font-size: 0.8em;
    padding: 0.25em;
    margin-right: 0.5em;
    cursor: pointer;

    &:hover,
    &.combat-style-selected {
        background-color: #666;
    }
}


.combat-styles-holder {
    display: flex;
    margin-top: 0.5em;
}

@media screen and (max-width: 1400px) {
    body {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 960px) {
    .flex-container.top-level {
        flex-direction: column;
    }

    .flex-container.top-level>*+* {
        margin-top: 1.5em;
    }

    .top-level>.flex-child+.flex-child {
        margin-left: 0
    }


}

@media screen and (max-width: 560px) {
    .header-sub {
        display: none;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-container>*+* {
        margin-top: 1.5em;
    }

    .flex-child+.flex-child {
        margin-left: 0
    }

    .highlight-section {
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
        padding: 1.5em 3em;
        box-shadow: 0 0.25em 0.25em rgb(0 0 0 / 40%);
        border-bottom-left-radius: 0.25em;
        border-bottom-right-radius: 0.25em;
        border-top-right-radius: 0.25em;
    }
}

//tooltip stuff
/* Add this attribute to the element that needs a tooltip */
[data-tooltip],
[data-tooltip-left] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after,
[data-tooltip-left]:before,
[data-tooltip-left]:after {
    visibility: hidden;
    //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    //filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before,
[data-tooltip-left]:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #222;
    color: #fff;

    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

[data-tooltip]:before {
    margin-left: -80px;
    content: attr(data-tooltip);
}

[data-tooltip-left]:before {
    margin-left: -140px;
    content: attr(data-tooltip-left);
}


/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after,
[data-tooltip-left]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #222;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip-left]:hover:before,
[data-tooltip-left]:hover:after {
    visibility: visible;
    //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    //filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}


$toggle-background-color-on: $color1;
$toggle-background-color-off: #aaa;
$toggle-control-color: white;
$toggle-width: 2em;
$toggle-height: 1em;
$toggle-gutter: 0.1em;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
    display: block;
    position: relative;
    padding-left: $toggle-width;
    cursor: pointer;
    user-select: none;



    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input:checked~.control {
        background-color: $toggle-background-color-on;

        &:after {
            left: $toggle-width - $toggle-control-size - $toggle-gutter;
        }
    }

    .control {
        box-shadow: 0px 0px 1px #222;
        position: absolute;
        top: 0;
        left: 0;
        height: $toggle-height;
        width: $toggle-width;
        border-radius: $toggle-radius;
        background-color: $toggle-background-color-off;
        transition: background-color $toggle-control-speed $toggle-control-ease;
        height: $toggle-height;

        &:after {
            content: "";
            position: absolute;
            left: $toggle-gutter;
            top: $toggle-gutter;
            width: $toggle-control-size;
            height: $toggle-control-size;
            border-radius: $toggle-radius;
            background: $toggle-control-color;
            transition: left $toggle-control-speed $toggle-control-ease;
        }
    }
}